<section id="terms-condition" class="main-content-area">
    <div class="container">
        <div class="row pt-3 pb-3">
            <div class="col-lg-12 text-center content-title-text mb-3">ABOUT US
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-12  mb-3">
                    <p>When great people come together, amazing things happen. Need to Park, &ldquo;Truck Parking Easy&rdquo; is the result
                            of two creative problem solvers and the input from a team of long haul drivers that were willing to share their experiences
                            and frustrations in hopes that they would be listened to&hellip; and that a resolution could be found.&nbsp;</p>
                    
                        <p>Israel Almanzar, a long-haul driver, approached two investors with an idea he had as a result of many conversations he
                            had with fellow drivers about the difficulty of finding places to park where and when they needed it.&nbsp;</p>
                    
                        <p>Those creative investors Joe Wojciechowski and Bill McAdory listened to&nbsp; what the long haul drivers were struggling
                            with. They then took a step back and looked at what options were currently available, researched the major corridors
                            and the pain points that drivers faced every day realizing a a driver co-op was absent. That is, a place that allowed
                            Over the Road (OTR) drivers to connect and help each other find safe places to park.&nbsp;</p>
                    
                        <p>That is how Need to Park, &ldquo;Truck Parking Made Easy&rdquo; came into existence. His idea turned into the exciting
                            app that makes finding parking easy and provides a way for OTR drivers to work together.&nbsp; What makes us different
                            is our ability to connect long haul drivers with one another to find available parking along their routes.&nbsp;
                            Departing drivers are able to post when they are leaving a spot, and when another driver needs the spot around the
                            same departure time, those two drivers make the agreement for the spot. Driver to driver, we are cut out the middle
                            person.&nbsp;</p>
                    
                        <p>Most OTR drivers know of all the common truck stops, and understand the struggle of trying to get there by a certain
                            time to secure a spot. What Need to Park wanted to do was to create a way for you to find parking when the driver
                            actually needs it. A safe parking spot that fits with the driver&rsquo;s schedule, not the schedule and availability
                            of a truck stop.&nbsp;</p>
                    
                        <p>Need to Park, &ldquo;Truck Parking Made Easy&rdquo; aims to be a trusted source among the dedicated OTR drivers. We not
                            only want to provide solutions for long haul drivers that not only work, we also want to provide what drivers actually
                            need and when they need it.</p>
            </div>
        </div>
    </div>
</section>
    