<section class="main-content-area">
    <div class="container">

        <div class="row pt-5 pb-3">
            <div class="col-lg-12 text-center mb-4 what-do-you-text content-title-text">What Do You Want To Do?
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-md-6 col-sm-6 text-center content-pointer">
                <img src="../assets/images/img-find-space.png" routerLink="/find-a-space">
                <p class="find-a-space text-center mt-2" routerLink="/find-a-space">Find A Space</p>
            </div>
            <div class="col-lg-4 col-12 col-md-6 col-sm-6 text-center content-pointer">
                <img src=" ../assets/images/img-list-space.png " routerLink="/list-a-space">
                <p class="find-a-space text-center mt-2" routerLink="/list-a-space">List A Space</p>
            </div>
        </div>
    </div>

</section>